In [53]:
import pandas as pd
from pymongo import MongoClient

In [54]:
client = MongoClient("mongodb://localhost:27017/")

In [55]:
#database
db = client["assault_db_us"]

In [56]:
#collection
collection = db["assault_us"]

In [57]:
data = pd.read_csv("new_global_dataset_2020.csv")

,_id,,yearOfRegistration,Datasource,gender,ageBroad,majorityStatus,majorityStatusAtExploit,citizenship,meansOfControlTakesEarnings,...,meansOfControlUsesChildren,meansOfControlThreatOfLawEnforcement,isForcedLabour,isSexualExploit,isOtherExploit,isAbduction,recruiterRelationIntimatePartner,recruiterRelationFriend,recruiterRelationFamily,recruiterRelationOther
0,5f751810edbeb111ec3ccdcd,18733,2015,Hotline,Female,18--20,Adult,Minor,US,-99,...,-99,-99,0,1,0,0,1,0,0,0
1,5f751810edbeb111ec3ccdce,18734,2015,Hotline,Female,18--20,Adult,Adult,US,-99,...,-99,-99,0,1,0,0,-99,-99,-99,-99
2,5f751810edbeb111ec3ccdcf,18735,2015,Hotline,Female,18--20,Adult,Minor,US,-99,...,-99,-99,0,1,0,0,0,1,0,0
3,5f751810edbeb111ec3ccdd0,18736,2015,Hotline,Female,18--20,Adult,-99,US,-99,...,-99,-99,0,1,0,0,1,0,0,0
4,5f751810edbeb111ec3ccdd1,18737,2015,Hotline,Female,18--20,Adult,-99,US,-99,...,-99,-99,0,1,0,0,1,0,0,0

In [59]:
data.reset_index(inplace=True)
data_dict = data.to_dict("records")
collection.insert_one({"index":"ID", "data":data_dict})

In [60]:
#checking that information uploaded to MongoDB

In [61]:
db = client.assault_db_us
collection = db.assault_us

In [62]:
data = pd.DataFrame(list(collection.find()))

In [63]:
data

,_id,,yearOfRegistration,Datasource,gender,ageBroad,majorityStatus,majorityStatusAtExploit,citizenship,meansOfControlTakesEarnings,...,isForcedLabour,isSexualExploit,isOtherExploit,isAbduction,recruiterRelationIntimatePartner,recruiterRelationFriend,recruiterRelationFamily,recruiterRelationOther,index,data
0,5f751810edbeb111ec3ccdcd,18733,2015,Hotline,Female,18--20,Adult,Minor,US,-99,...,0,1,0,0,1,0,0,0,NaN,NaN
1,5f751810edbeb111ec3ccdce,18734,2015,Hotline,Female,18--20,Adult,Adult,US,-99,...,0,1,0,0,-99,-99,-99,-99,NaN,NaN
2,5f751810edbeb111ec3ccdcf,18735,2015,Hotline,Female,18--20,Adult,Minor,US,-99,...,0,1,0,0,0,1,0,0,NaN,NaN
3,5f751810edbeb111ec3ccdd0,18736,2015,Hotline,Female,18--20,Adult,-99,US,-99,...,0,1,0,0,1,0,0,0,NaN,NaN
4,5f751810edbeb111ec3ccdd1,18737,2015,Hotline,Female,18--20,Adult,-99,US,-99,...,0,1,0,0,1,0,0,0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3632,5f751811edbeb111ec3cdbfd,48769,2018,Hotline,Male,9--17,Minor,Minor,US,-99,...,0,1,0,0,0,0,1,0,NaN,NaN
3633,5f751811edbeb111ec3cdbfe,48770,2018,Hotline,Male,9--17,Minor,Minor,US,-99,...,0,1,0,0,0,0,1,0,NaN,NaN
3634,5f751811edbeb111ec3cdbff,48771,2018,Hotline,Male,9--17,Minor,Minor,US,-99,...,0,1,0,0,0,0,1,0,NaN,NaN
3635,5f751811edbeb111ec3cdc00,48772,2018,Hotline,Male,9--17,Minor,Minor,US,-99,...,0,1,0,0,0,0,1,0,NaN,NaN
3636,5f7519ebe733c19559e77824,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ID,"[{'level_0': 0, 'index': 0, 'Unnamed: 0': 1873..."