In [4]:
import requests
import pandas as pd
import io
from datetime import date
import numpy as np

In [8]:
us_human_trafficking_df = pd.read_csv("Data/Human_Trafficking_Offenses_and_Clearances_by_State_2014_to_2017_clean.csv")
us_human_trafficking_df.head()

new_us_human_trafficking_df = us_human_trafficking_df[['year', 'region_description', 'state', 'occurrence']]
new_us_human_trafficking_df.head()

   year region_description       state  occurrence
0  2014  Southwest/Pacific      Alaska          11
1  2014  Southwest/Pacific     Arizona          15
2  2014  Southwest/Pacific  California           0
3  2014   Rockies/Mid-West    Colorado          11
4  2014      Mideast South    Delaware           0

In [18]:
us_capitals_df = pd.read_csv("Data/us-state-capitals.csv")
us_capitals_df.rename(columns={"Name":"state"})

             state         Capital   latitude   longitude
0          Alabama      Montgomery  32.377716  -86.300568
1           Alaska          Juneau  58.301598 -134.420212
2          Arizona         Phoenix  33.448143 -112.096962
3         Arkansas     Little Rock  34.746613  -92.288986
4       California      Sacramento  38.576668 -121.493629
5         Colorado          Denver  39.739227 -104.984856
6      Connecticut        Hartford  41.764046  -72.682198
7         Delaware           Dover  39.157307  -75.519722
8           Hawaii        Honolulu  21.307442 -157.857376
9          Florida     Tallahassee  30.438118  -84.281296
10         Georgia     Atlanta<br>  33.749027  -84.388229
11           Idaho           Boise  43.617775 -116.199722
12        Illinois     Springfield  39.798363  -89.654961
13         Indiana    Indianapolis  39.768623  -86.162643
14            Iowa      Des Moines  41.591087  -93.603729
15          Kansas          Topeka  39.048191  -95.677956
16        Kentucky       Frankfort  38.186722  -84.875374
17       Louisiana     Baton Rouge  30.457069  -91.187393
18           Maine         Augusta  44.307167  -69.781693
19        Maryland       Annapolis  38.978764  -76.490936
20   Massachusetts          Boston  42.358162  -71.063698
21        Michigan         Lansing  42.733635  -84.555328
22       Minnesota        St. Paul  44.955097  -93.102211
23     Mississippi         Jackson  32.303848  -90.182106
24        Missouri  Jefferson City  38.579201  -92.172935
25         Montana          Helena  46.585709 -112.018417
26        Nebraska         Lincoln  40.808075  -96.699654
27          Nevada     Carson City  39.163914 -119.766121
28   New Hampshire         Concord  43.206898  -71.537994
29      New Jersey         Trenton  40.220596  -74.769913
30      New Mexico        Santa Fe  35.682240 -105.939728
31  North Carolina         Raleigh  35.780430  -78.639099
32    North Dakota        Bismarck  46.820850 -100.783318
33        New York          Albany  42.652843  -73.757874
34            Ohio        Columbus  39.961346  -82.999069
35        Oklahoma   Oklahoma City  35.492207  -97.503342
36          Oregon           Salem  44.938461 -123.030403
37    Pennsylvania      Harrisburg  40.264378  -76.883598
38    Rhode Island      Providence  41.830914  -71.414963
39  South Carolina        Columbia  34.000343  -81.033211
40    South Dakota          Pierre  44.367031 -100.346405
41       Tennessee       Nashville  36.165810  -86.784241
42           Texas          Austin  30.274670  -97.740349
43            Utah  Salt Lake City  40.777477 -111.888237
44         Vermont      Montpelier  44.262436  -72.580536
45        Virginia        Richmond  37.538857  -77.433640
46      Washington         Olympia  47.035805 -122.905014
47   West Virginia      Charleston  38.336246  -81.612328
48       Wisconsin         Madison  43.074684  -89.384445
49         Wyoming        Cheyenne  41.140259 -104.820236