In [1]:
import pandas as pd
import numpy as np

In [3]:
file = pd.read_csv("Data/Alltotals_global_dataset_2020.csv")

In [4]:
df = pd.DataFrame(file)

In [5]:
df

,yearOfRegistration,ageBroad,gender,majorityStatusAtExploit,meansOfControlTakesEarnings,meansOfControlThreats,meansOfControlPsychologicalAbuse,meansOfControlPhysicalAbuse,meansOfControlSexualAbuse,meansOfControlPsychoactiveSubstances,...,meansOfControlUsesChildren,meansOfControlThreatOfLawEnforcement,isForcedLabour,isSexualExploit,isOtherExploit,isAbduction,recruiterRelationIntimatePartner,recruiterRelationFriend,recruiterRelationFamily,recruiterRelationOther
0,2015,18--20,Female,-99,2,7,9,8,2,4,...,0,0,0,64,0,0,9,1,2,2
1,2015,18--20,Female,Adult,2,1,3,4,0,3,...,0,0,0,9,0,0,4,1,0,0
2,2015,18--20,Female,Minor,10,16,22,24,9,8,...,1,0,0,61,0,0,14,2,11,8
3,2015,21--23,Female,-99,9,13,14,16,3,8,...,1,0,0,54,0,0,4,0,2,6
4,2015,21--23,Female,Adult,2,3,2,3,1,2,...,0,0,0,5,0,0,1,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
81,2018,48+,Female,Minor,0,0,2,1,2,2,...,1,0,0,3,0,0,0,0,3,0
82,2018,9--17,Female,-99,0,1,1,1,2,2,...,0,0,0,18,0,0,3,1,2,1
83,2018,9--17,Female,Minor,6,24,57,27,29,34,...,2,1,0,146,0,0,17,9,45,14
84,2018,9--17,Male,-99,0,0,0,1,1,1,...,0,0,0,1,0,0,0,0,1,0
85,2018,9--17,Male,Minor,0,5,10,5,3,2,...,0,0,0,14,0,0,2,1,10,1

In [7]:
from sqlalchemy import create_engine

In [8]:
engine = create_engine('sqlite:///trafficking.db', echo=True)
sqlite_connection = engine.connect()

2020-10-04 10:45:35,973 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2020-10-04 10:45:35,975 INFO sqlalchemy.engine.base.Engine ()
2020-10-04 10:45:35,976 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2020-10-04 10:45:35,976 INFO sqlalchemy.engine.base.Engine ()

In [10]:
sqlite_table = "Sex_Trafficking_Data_US"
df.to_sql(sqlite_table, sqlite_connection, if_exists='fail')

2020-10-04 10:46:33,148 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("Sex_Trafficking_Data_US")
2020-10-04 10:46:33,148 INFO sqlalchemy.engine.base.Engine ()
2020-10-04 10:46:33,149 INFO sqlalchemy.engine.base.Engine PRAGMA temp.table_info("Sex_Trafficking_Data_US")
2020-10-04 10:46:33,150 INFO sqlalchemy.engine.base.Engine ()
2020-10-04 10:46:33,152 INFO sqlalchemy.engine.base.Engine
CREATE TABLE "Sex_Trafficking_Data_US" (
	"index" BIGINT,
	"yearOfRegistration" BIGINT,
	"ageBroad" TEXT,
	gender TEXT,
	"majorityStatusAtExploit" TEXT,
	"meansOfControlTakesEarnings" BIGINT,
	"meansOfControlThreats" BIGINT,
	"meansOfControlPsychologicalAbuse" BIGINT,
	"meansOfControlPhysicalAbuse" BIGINT,
	"meansOfControlSexualAbuse" BIGINT,
	"meansOfControlPsychoactiveSubstances" BIGINT,
	"meansOfControlRestrictsMovement" BIGINT,
	"meansOfControlUsesChildren" BIGINT,
	"meansOfControlThreatOfLawEnforcement" BIGINT,
	"isForcedLabour" BIGINT,
	"isSexualExploit" BIGINT,
	"isOtherExploit" BIGINT,
	"isAbduction" BIGINT,
	"recruiterRelationIntimatePartner" BIGINT,
	"recruiterRelationFriend" BIGINT,
	"recruiterRelationFamily" BIGINT,
	"recruiterRelationOther" BIGINT
)


2020-10-04 10:46:33,153 INFO sqlalchemy.engine.base.Engine ()
2020-10-04 10:46:33,162 INFO sqlalchemy.engine.base.Engine COMMIT
2020-10-04 10:46:33,163 INFO sqlalchemy.engine.base.Engine CREATE INDEX "ix_Sex_Trafficking_Data_US_index" ON "Sex_Trafficking_Data_US" ("index")
2020-10-04 10:46:33,164 INFO sqlalchemy.engine.base.Engine ()
2020-10-04 10:46:33,169 INFO sqlalchemy.engine.base.Engine COMMIT
2020-10-04 10:46:33,172 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2020-10-04 10:46:33,175 INFO sqlalchemy.engine.base.Engine INSERT INTO "Sex_Trafficking_Data_US" ("index", "yearOfRegistration", "ageBroad", gender, "majorityStatusAtExploit", "meansOfControlTakesEarnings", "meansOfControlThreats", "meansOfControlPsychologicalAbuse", "meansOfControlPhysicalAbuse", "meansOfControlSexualAbuse", "meansOfControlPsychoactiveSubstances", "meansOfControlRestrictsMovement", "meansOfControlUsesChildren", "meansOfControlThreatOfLawEnforcement", "isForcedLabour", "isSexualExploit", "isOtherExploit", "isAbduction", "recruiterRelationIntimatePartner", "recruiterRelationFriend", "recruiterRelationFamily", "recruiterRelationOther") VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
2020-10-04 10:46:33,176 INFO sqlalchemy.engine.base.Engine ((0, 2015, '18--20', 'Female', '-99', 2, 7, 9, 8, 2, 4, 12, 0, 0, 0, 64, 0, 0, 9, 1, 2, 2), (1, 2015, '18--20', 'Female', 'Adult', 2, 1, 3, 4, 0, 3, 5, 0, 0, 0, 9, 0, 0, 4, 1, 0, 0), (2, 2015, '18--20', 'Female', 'Minor', 10, 16, 22, 24, 9, 8, 20, 1, 0, 0, 61, 0, 0, 14, 2, 11, 8), (3, 2015, '21--23', 'Female', '-99', 9, 13, 14, 16, 3, 8, 17, 1, 0, 0, 54, 0, 0, 4, 0, 2, 6), (4, 2015, '21--23', 'Female', 'Adult', 2, 3, 2, 3, 1, 2, 2, 0, 0, 0, 5, 0, 0, 1, 1, 0, 0), (5, 2015, '21--23', 'Female', 'Minor', 5, 8, 14, 10, 5, 11, 11, 2, 0, 0, 37, 0, 0, 12, 3, 2, 4), (6, 2015, '24--26', 'Female', '-99', 5, 8, 14, 5, 0, 4, 5, 0, 0, 0, 39, 0, 0, 11, 1, 2, 1), (7, 2015, '24--26', 'Female', 'Adult', 1, 3, 2, 0, 0, 1, 2, 0, 1, 0, 6, 0, 0, 2, 1, 0, 1)  ... displaying 10 of 86 total bound parameter sets ...  (84, 2018, '9--17', 'Male', '-99', 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0), (85, 2018, '9--17', 'Male', 'Minor', 0, 5, 10, 5, 3, 2, 0, 0, 0, 0, 14, 0, 0, 2, 1, 10, 1))
2020-10-04 10:46:33,178 INFO sqlalchemy.engine.base.Engine COMMIT
2020-10-04 10:46:33,188 INFO sqlalchemy.engine.base.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2020-10-04 10:46:33,188 INFO sqlalchemy.engine.base.Engine ()

In [11]:
sqlite_connection.close()